.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--width-separator-thin) solid var(--color-separator);
    padding: var(--spacing-md);

    .brand {
        color: var(--color-primary-red);
        font-size: var(--font-size-4xl);
        font-weight: 700;
    }

    .month-and-year {
        text-align: center;

        .nepali-month {
            font-size: var(--font-size-2xl);
        }

        .english-month {
            font-size: var(--font-size-2xl);
        }
    }

    .actions {
        display: flex;
        gap: var(--spacing-md);

        .button {
            padding: var(--spacing-sm);

            .icon {
                height: 1rem;
            }
        }
    }
}


@media (max-width: 640px) {
    .header {
        .middle {
            .nepali-month {
                font-size: 14px;
            }

            .english-month {
                font-size: 12px;
            }
        }
    }
}
