.week-name {
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--width-separator-thin) solid var(--color-separator);
    background-color: var(--color-gray-10);
    padding: var(--spacing-md);
    color: var(--color-text-light);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);

    &.holiday {
        color: var(--color-primary-red);
    }
}
