.week-names {
    display: flex;
    align-items: center;
    padding: 0 16px;

    .week-name {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: calc(100% / 7);
        text-align: center;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.6);

        &.holiday {
            color: red;
        }
    }
}


@media (min-width: 1024px) {
    .week-names {
        .week-name {
            &:nth-child(odd) {
                background: rgba(0, 0, 0, 0.05);
            }
        }
    }
}


@media (max-width: 640px) {
    .week-names {
        .week-name {
            font-size: 12px;
        }
    }
}
