.week-name {
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--width-separator-thin) solid var(--color-separator);
    color: rgba(0, 0, 0, 0.6);
    font-size: var(--font-size-xl);

    &.holiday {
        color: var(--color-primary-red);
    }
}
